{% extends "base.html" %}
	{% block content %}
		{% include "header.html" %}
			<br>
			<br>
			
			<br>
			<br>
			<div class="row">
				<div class="col-xs-2 col-md-4"></div>
				<div class="col-xs-8 col-md-4">
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
								
			                    <h4 style="color: red" class="list-unstyled">{{message}}</h4>
			                    <br>
		                  	{% endfor %}
		                {% endif %}
					{% endwith %}
					<p>Name: {{ item.name}}</p>
					<p>Description: {{ item.description}}</p>
					<p>Image url: {{ item.image}}</p>
					<p>sku: {{ item.sku}}</p>
					<p>Author: {{ item.author}}</p>
					<form method='POST'>
						<input class="btn btn-default" type="submit" value="Delete">
						<a class="btn btn-default" href="/catalog/item/{{ item.name }}/{{ item.id }}">Cancel</a>
					</form>
					<div class="col-xs-2 col-md-4"></div>
				</div>
			</div>

{% endblock %}