{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
<br>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div style="color: green">{{message}}</div>
{% endfor %}
{% endif %}
{% endwith %}
<a href="/logout">Logout</a>
<br>
<br>
<div>{% for x in categories %}
    <ul>
        <li><a href="/catalog/{{userName}}/{{ x.name }}">{{ x.name }}</a></li>
    </ul>
    {% endfor %}
</div>
<br>
<div>Below is the list of items in the chosen category</div>
<br>
<div>{% for y in itemsInCategory %}
    <ul>
        <li>{{ y.name }}</li>
        <li>{{ y.author }}</li>
    </ul>
    {% endfor %}
</div>

{% endblock %}
